In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('../data/binding_site_training_data.csv')

In [3]:
data.head()

,SMILES,name,cat0,cat1,cat2,cat3
0,CC(=O)c(c1)c(=O)oc(c12)cccc2,3-Acetylcoumarin,0,1,0,0
1,O=C(O)C(C)c(c1C(=O)O)oc(c1C)CCC,3-Carboxy-4-methyl-5-propyl-2-furan-propionic ...,0,1,0,0
2,c1cccc(c12)OCCC2O,4-Chromanol,0,1,0,0
3,c1cccc(c12)oc(=O)cc2O,4-Hydroxycoumarin,0,1,0,0
4,O=C(O)Cc1cc(=O)oc(c12)cc(cc2)Nc3ccccc3,7-Anilinocoumarin-4-acetic acid,1,0,0,0

In [4]:
data.describe()

             cat0        cat1        cat2        cat3
count  124.000000  124.000000  124.000000  124.000000
mean     0.532258    0.193548    0.258065    0.016129
std      0.500983    0.396682    0.439345    0.126483
min      0.000000    0.000000    0.000000    0.000000
25%      0.000000    0.000000    0.000000    0.000000
50%      1.000000    0.000000    0.000000    0.000000
75%      1.000000    0.000000    1.000000    0.000000
max      1.000000    1.000000    1.000000    1.000000

In [5]:
data.sum()

SMILES    CC(=O)c(c1)c(=O)oc(c12)cccc2O=C(O)C(C)c(c1C(=O...
name      3-Acetylcoumarin3-Carboxy-4-methyl-5-propyl-2-...
cat0                                                     66
cat1                                                     24
cat2                                                     32
cat3                                                      2
dtype: object

In [6]:
data[data.cat3 == 1]

,SMILES,name,cat0,cat1,cat2,cat3
28,Nc(n1)scc1C(=NOC)C(=O)N[C@@H]2C(=O)N([C@@H]23)...,Ceftriaxone,0,0,0,1
54,C1COC(CC)(CC(=O)O)c(c1c23)[nH]c2c(CC)ccc3,Etodolac,0,0,0,1