In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
data = pd.read_csv('../data/preprocessed/merged_final_dataset.csv')

In [3]:
data = data[['smiles', 'active']]

In [4]:
data_train_val, data_test = train_test_split(data, train_size = 0.8, random_state = 42, shuffle = True, stratify = None)

In [6]:
data_train_val.to_csv('../data/split/data_train_val.csv', index=False)
data_test.to_csv('../data/split/data_test.csv', index=False)

In [7]:
data_train_val.describe()

           active
count  388.000000
mean     0.762887
std      0.425862
min      0.000000
25%      1.000000
50%      1.000000
75%      1.000000
max      1.000000

In [9]:
data_test.describe()

          active
count  98.000000
mean    0.795918
std     0.405101
min     0.000000
25%     1.000000
50%     1.000000
75%     1.000000
max     1.000000

## Small site

In [3]:
data = pd.read_csv('../data/preprocessed/small_site.csv')

In [5]:
data_train_val, data_test = train_test_split(data, train_size = 0.8, random_state = 42, shuffle = True, stratify = None)

In [6]:
data_train_val.to_csv('../data/split/small_site_train_val.csv', index=False)
data_test.to_csv('../data/split/small_site_test.csv', index=False)

In [7]:
data_train_val.target.value_counts()

1    12
2    12
0     9
3     6
Name: target, dtype: int64

## Site

In [8]:
data = pd.read_csv('../data/preprocessed/site.csv')

In [9]:
data_train_val, data_test = train_test_split(data, train_size = 0.8, random_state = 42, shuffle = True, stratify = None)

In [10]:
data_train_val.to_csv('../data/split/site_train_val.csv', index=False)
data_test.to_csv('../data/split/site_test.csv', index=False)

In [11]:
data_train_val.target.value_counts()

0.0    55
2.0    24
1.0    19
Name: target, dtype: int64

In [12]:
data_test.target.value_counts()

0.0    11
2.0     8
1.0     5
Name: target, dtype: int64